[submodule "sub/glfw"]
	path = sub/glfw
	url = https://github.com/glfw/glfw.git
[submodule "sub/glm"]
	path = sub/glm
	url = https://github.com/g-truc/glm.git
[submodule "sub/assimp"]
	path = sub/assimp
	url = https://github.com/assimp/assimp.git
